@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  display: grid;
  place-items: center;
}

.top-container {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin-top: -150px; */
  margin-bottom: 50px;
}

.searchbar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#search {
  width: 70%;
  /* border: 3px solid #00b4cc; */
  border: none;
  padding: 16px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 18px;
}

.searchButton {
  width: 80px;
  height: 32px;
  border: none;
  background: #048b9c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  font-size: 16px;
}

.box {
  display: flex;
  height: 400px;
  width: 650px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.icons {
  flex: 1 100%;
  height: 50%;
  border-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}

.section2 {
  margin-top: -40px;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;

  flex: 0 0 70%;
  height: 30%;
  padding: 20px;
  column-gap: 20px;
}

.temperature {
  display: flex;
  /* flex: 0 0 40%; */
  /* height: 50%; */
  width: 100%;
  justify-content: space-around;
  /* margin-right: 20px; */
  font-size: 45px;
}

.place {
  font-size: 25px;
}

.condition {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}

.date {
  margin-top: -40px;

  flex: 0 0 30%;
  height: 100%;
  background: #70c1b3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.conditions {
  /* border: 2px solid red; */
  /* display: flex; */

  flex: 0 30%;

  flex-direction: column;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.allInfo {
  /* border: 2px solid red; */

  display: flex;
  margin-top: -80px;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

.sectionhalf {
  border-radius: 5px;
  display: flex;
  border: 2px solid black;
  width: 50%;
  color: red;
  justify-content: space-around;
}

.sectionhalf2 {
  border-radius: 5px;
  justify-content: space-around;
  width: 50%;
  border: 2px solid blue;
  display: flex;
  color: red;
}

.desc {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.allInfo .wi,
.fab {
  color: red;
}

#image {
  height: 70%;
}
